@use "abstracts" as *;
@use "base";
@use "components";
@use "pages";

.link {
	position: fixed;
	top: 50%;
	translate: 0 -50%;
	padding: 5px;
	@include size(50px);
	display: flex;
	justify-content: center;
	align-items: center;
	
	&.left {
		transition: all 0.2s ease-in-out;
		left: 1em;
		background-color: rgb(85, 84, 84);
		border-radius: 50%;
		padding: 10px;
		&:hover {
			scale: 1.1;
			filter: invert(1);
		}
		
		img {
			@include size;
		}
	}
}